# Machine Learning Project - Kickstarter Data Set
## EDA Notebook
*Contributor: Max Langer, René Ebrecht, Jens Reich*

This is the very first project where we build a machine learning model from scratch based on an unknown dataset.
The dataset includes data from Kickstarter projects from the years 2009 to 2019.

Our goal is to help our (fictional) stackholder, PPC Consultants with a model that can predict whether a Kickstarter project will be successful or not. 
PPC Consultants advises potential project creators (PPCs) with their projects to get them off the ground as successfully as possible.
Therefore, the value of our data product (the predictive model) is to show opportunities, save time, and in the end make money for both PPC consultants and PPCs.

In [1]:
# Import the organization modules
import pandas as pd
import numpy as np
# Import module to ignore warnings
import warnings
warnings.filterwarnings('ignore')
# Import the plot modules
import matplotlib.pyplot as plt
import seaborn as sns
# Import own scripts
from scripts.data_cleaning import (
    read_all_csvs, 
    clean_data,
    create_csv
    )

In [2]:
# Create data frame from all single CSV files
df = read_all_csvs()

In [3]:
# Clean the data
df = clean_data(df)

In [4]:
# Get a look at the data frame
df.head()

,goal,state,days_launched_till_changed,days_prelaunch,days_total,project_name_len,creator_name_len,blurb_len,country_AT,country_AU,...,category_sub_wearables,category_sub_weaving,category_sub_web,category_sub_webcomics,category_sub_webseries,category_sub_woodworking,category_sub_workshops,category_sub_world music,category_sub_young adult,category_sub_zines
0,200.0,successful,45,4,49,21,6,134,0,0,...,0,0,0,0,0,0,0,0,0,0
1,400.0,successful,20,5,25,31,9,55,0,0,...,0,0,0,0,0,0,0,0,0,0
2,27224.0,successful,30,9,39,60,13,135,0,0,...,0,0,0,0,0,0,0,0,0,0
3,40000.0,successful,42,3,45,25,3,75,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1000.0,failed,30,2,32,30,11,133,0,0,...,0,0,0,0,0,0,0,0,0,0